<%= form_for(@user, :url =>  basic_information_path(@user), :html => {:id => "submit_form"}) do |f| %>

  <div class="card-body">
<!--    full_name, name-->
    <div class="row">
      <div class="col-sm-7">
        <div class="form-group">
          <label for="full_name">Họ và tên </label>
          <%= f.text_field :full_name, class: "form-control", id: "full_name", placeholder: 'HỌ VÀ TÊN', :readonly => true %>
          <% @user.errors.full_messages_for(:full_name).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>

      </div>

      <div class="col-sm-5">
        <div class="form-group">
          <label for="name">Tên</label>
          <%= f.text_field :name, class: "form-control", id: "name", placeholder: 'Tên', :readonly => true %>
          <% @user.errors.full_messages_for(:name).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

    </div>

<!--    birthday, gender, province-->
    <div class="row">
      <div class="col-sm-4">

        <div class="form-group">
          <label for="full_name">
            <%= 'Ngày tháng năm sinh' %>
          </label>
          <%= f.date_field :birthday, class: "form-control datepicker",
                           id: "birthday", placeholder: 'dd/MM/yyyy', :readonly => @basic_information_birthday.value == 'f' %>
          <% @user.errors.full_messages_for(:birthday).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-4">
        <div class="form-group">
          <label for="gender">
            <%= 'Giới tính'%>
          </label>
          <%= f.select(:gender, options_for_select([['Nam', 1], ['Nữ', 0]], @user.gender),{} , {:class => "form-control select2", :disabled => @basic_information_gender.value == 'f'})%>
          <% @user.errors.full_messages_for(:gender).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>


      <div class="col-sm-4">
        <div class="form-group">
          <label for="provide">
            <%= 'Nơi sinh' %>
          </label>
          <%= f.select(:province, @provinces.collect {|u| [u.name, u.code]},{ },{ :class => 'form-control select2', :disabled => @basic_information_where_born.value == 'f'}) %>
          <% @user.errors.full_messages_for(:province).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

    </div>

    <!--    ethnicity, another ethnicity, identification-->
    <div class="row">
      <div class="col-sm-3">
        <div class="form-group">
          <label for="ethnicity">
            <%= 'Dân tộc' %>
          </label>
          <%= f.select(:ethnicity, @ethnicities.collect {|u| [u.name, u.code]},{ },
                       { :class => 'form-control', :id => "ethnicity", :readonly => @basic_information_ethnicity.value == 'f'}) %>
          <% @user.errors.full_messages_for(:ethnicity).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="another_ethnicity">
            <%= 'Dân tộc khác' %>
          </label>
          <%= f.text_field :another_ethnicity, class: "form-control", id: "another_ethnicity", placeholder: 'Dân tộc khác',  readonly: @user.ethnicity != 0 || @basic_information_ethnicity.value == 'f'  %>
          <% @user.errors.full_messages_for(:another_ethnicity).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>


      <div class="col-sm-3">
        <div class="form-group">
          <label for="ethnicity">
            <%= 'Tôn giáo' %>
          </label>
          <%= f.select(:religion, options_for_select(@religions, @user.religion),{} , {:class => "form-control", :id => "religion", :disabled => @basic_information_religion.value == 'f'})%>

          <% @user.errors.full_messages_for(:religion).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>
      <div class="col-sm-3">
        <div class="form-group">
          <label for="another_ethnicity">
            <%= 'Tôn giáo khác' %>
          </label>
          <%= f.text_field :another_religion, class: "form-control", id: "another_religion", placeholder: 'Tôn giáo khác',  readonly: @user.religion != 6 || @basic_information_religion.value == 'f'  %>
          <% @user.errors.full_messages_for(:another_religion).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

    </div>

    <!--    religion-->
    <div class="row">
      <div class="col-sm-12 alert alert-warning">
        <strong>*Cập nhật thông tin mới!</strong>
      </div>

      <div class="col-sm-3">
        <div class="form-group">
          <label for="identification_type">
            <%= 'CCCD/CMND bạn đang có:' %>
          </label>
          <%= f.select(:identification_type, options_for_select(@identification_types, @user.identification_type),{ },
                       { :class => 'form-control', :id => "identification_type"}) %>
          <% @user.errors.full_messages_for(:identification_type).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-3 identification">
        <div class="form-group">
          <label for="identification" id="identification_label">
            <%= 'Mã CCCD/CMND' %>
          </label>
          <%= f.text_field :identification, class: "form-control", id: "identification", placeholder: 'CCCD/CMND'%>
          <div class="text-danger" id="identification_error"></div>
          <% @user.errors.full_messages_for(:identification).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-3 identifier-code">
        <div class="form-group">
          <label for="identifier_code" id="identifier_code_label">
            <%= 'Mã định danh' %>
          </label>
          <%= f.text_field :identifier_code, class: "form-control", id: "identifier_code", placeholder: 'Mã định danh'%>
          <div class="text-danger" id="identifier_code_error"></div>
          <% @user.errors.full_messages_for(:identifier_code).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

      <div class="col-sm-3 identification-chip">
        <div class="form-group">
          <label for="identification_chip">
            <%= 'Đã đi làm CCCD gắn chip chưa ?' %>
          </label>
          <%= f.select(:identification_chip, options_for_select([['Đã làm', 1], ['Chưa', 0]], @user.identification_chip),
                       {}, {:class => "form-control select2", :id => 'identification_chip'})%>
          <% @user.errors.full_messages_for(:identification_chip).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-sm-6">
        <div class="form-group">
          <label for="health_insurance_code">
            <%= 'Số bảo hiểm y tế:' %>
          </label>
          <%= f.text_field :health_insurance_code, class: "form-control", id: "health_insurance_code", placeholder: 'Mã bảo hiểm y tế'%>
          <div class="text-danger" id="health_insurance_code_error"></div>
          <% @user.errors.full_messages_for(:health_insurance_code).each do |message| %>
            <div class="text-danger"><%= message %></div>
          <% end %>
        </div>
      </div>

    </div>

  </div>

  <div class="card-footer text-center">
    <button type="submit" class="btn btn-primary">
      <%= 'Cập nhật' %>
    </button>
    <%= link_to 'Huỷ', basic_informations_path, class: "btn btn-danger"%>
  </div>

<% end %>

<%= javascript_pack_tag 'basic_informations' %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#ethnicity').on('change', function () {
            $('#another_ethnicity').val('');
            if (this.value == 0) {
                $('#another_ethnicity').attr('readonly', false);
            } else {
                $('#another_ethnicity').attr('readonly', true);
            }
        });
    });

    $(document).ready(function() {
        $('#religion').on('change', function () {
            $('#another_religion').val('');
            if (this.value == 6) {
                $('#another_religion').attr('readonly', false);
            } else {
                $('#another_religion').attr('readonly', true);
            }
        });
    });

    function updateIdefication() {
        var identificationType = $('#identification_type').val();

        switch (identificationType) {

            case "0":
                $('.identification-chip').removeClass('d-none');
                $('.identifier-code').removeClass('d-none');
                $('.identification').addClass('d-none');
                $('#identification').val('');

                break;
            case "1":
                $('.identification-chip').removeClass('d-none');
                $('.identification').removeClass('d-none');
                $('.identifier-code').removeClass('d-none');
                break;
            case "2":
                $('.identification-chip').removeClass('d-none');
                $('.identification').removeClass('d-none');
                $('.identifier-code').addClass('d-none');
                $('#identifier_code').val('');
                break;
            case "3":
                $('.identification').removeClass('d-none');
                $('#identification_chip').val(1).change();
                $('#identifier_code').val('');
                $('.identifier-code').addClass('d-none');
                $('.identification-chip').addClass('d-none');

                break;
            default:
                break;
        }
    }

    updateIdefication();

    $(document).ready(function() {
        $('#identification_type').on('change', function () {
            updateIdefication();
        });
    });

    $(document).ready(function() {
        $('#submit_form').on('submit', function() {
            var identificationType = $('#identification_type').val();
            var identification = $('#identification').val();
            var identifierCode = $('#identifier_code').val();
            var health_insurance_code = $('#health_insurance_code').val();

            $('#identifier_code_error').text('');
            $('#identification_error').text('');
            $('#health_insurance_code_error').text('');
            switch (identificationType) {
                case "0":
                    let identifier_check = identifierCode.match('[0-9]{12}');
                    if (identifier_check == null) {
                        $('#identifier_code_error').text('Vui lòng nhập 12 số!');
                        return false;
                    }
                    break;
                case "1":

                    let identification_check_2 = identification.match('[0-9]{9}');
                    if (identification_check_2 == null) {
                        $('#identification_error').text('Vui lòng nhập 9 số!');
                        return false;
                    }

                    let identifier_check_2 = identifierCode.match('[0-9]{12}');
                    if (identifier_check_2 == null) {
                        $('#identifier_code_error').text('Vui lòng nhập 12 số!');
                        return false;
                    }
                    break;
                case "2":
                    let identification_check_3 = identification.match('[0-9]{12}');
                    if (identification_check_3 == null) {
                        $('#identification_error').text('Vui lòng nhập 12 số!');
                        return false;
                    }
                    break;
                case "3":

                    let identification_check = identification.match('[0-9]{12}');
                    if (identification_check == null) {
                        $('#identification_error').text('Vui lòng nhập 12 số!');
                        return false;
                    }
                    break;
                default:
                    break;
            }

            let health_insurance_code_check = health_insurance_code.match('[A-Z]{2}[0-9]{13}');
            if (health_insurance_code_check == null) {
                $('#health_insurance_code_error').text('Vui lòng nhập 15 kí tự, 2 kí tự đầu là chữ IN HOA, và 13 kí tự số!');
                return false;
            }
        });
    });
</script>
