<div class="content container-fluid">
  <div class="container-fluid">
    <%= form_for(@user, :url =>  update_password_basic_informations_path(@user.id)) do |f| %>

      <div class="row">
        <div class="col-md-12">

          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <%= 'Đổi mật khẩu' %>
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <%= f.label :current_password, "Mật khẩu hiện tại" %><br />
                    <%= f.password_field :current_password, class: "form-control", :autocomplete => "off"  %>
                    <% @user.errors.full_messages_for(:current_password).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <%= f.label :password, "Mật khẩu mới" %><br />
                    <%= f.password_field :password, :autocomplete => "off", class: "form-control"  %>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <%= f.label :confirm_password, "Nhập lại mật khẩu mới" %><br />
                    <%= f.password_field :confirm_password, class: "form-control", :autocomplete => "off"  %>
                  </div>
                </div>
              </div>
            </div>


            <div class="card-footer text-center">
              <button type="submit" class="btn btn-primary">
                <%= 'Cập nhật' %>
              </button>
              <%= link_to 'Huỷ', basic_informations_path, class: "btn btn-danger"%>
            </div>

            <!--          <div class="card-footer">-->
            <!--          </div>-->
          </div>


        </div>
      </div>

    <% end %>
  </div>
 </div>

<%#= javascript_pack_tag 'edit_user_contact' %>

<script type="text/javascript">
</script>
