
<div class="content container-fluid">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">

        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <!--                        <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">-->
            </div>
            <h3 class="profile-username text-center">
              <%= @user.full_name %>
            </h3>
            <p class="text-muted text-center">
              <%= @user.student_code %>
            </p>
            <p class="text-muted text-center">
              <%= @student_classess.last.class_name if @student_classess.size > 0 %>
            </p>
            <p class="text-muted text-center"></p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Ngày sinh:</b> <a class="float-right">
                <%= @user.birthday %>
              </a>
              </li>
              <li class="list-group-item">
                <b>Dân tộc</b> <a class="float-right">
                <%= @ethnicity_name %>
              </a>
              </li>
              <li class="list-group-item">
                <b>Nơi sinh</b> <a class="float-right">
                <%= @province.name if !@province.nil? %>
              </a>
              </li>
            </ul>
            <div class="text-center">
              <%= link_to "Chỉnh sửa", edit_basic_information_path(current_user.id), class: "btn btn-primary"%>

            </div>

            <!--                      <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
          </div>

        </div>

      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin liên lạc</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Thông tin học tập</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Thông tin gia đình</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">

                <div class="post">
                  <div class="user-block">

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="contact_province">Hộ khẩu thường trú</label>
                          <div>
                            <%= @user_contact.household_address %>,
                            <%= @household_ward.name %>,
                            <%= @household_district.name %>,
                            <%= @household_province.name %>,
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="contact_province">Địa chỉ liên hệ</label>
                          <div>
                            <%= @user_contact.contact_address %>,
                            <%= @contact_ward.name %>,
                            <%= @contact_district.name %>,
                            <%= @contact_province.name %>,
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="contact_province">Số điện thoại liên lạc</label>
                          <div>
                            <%= @user_contact.phone_number %>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12 text-center">
                        <%= link_to "Chỉnh sửa thông tin liên lạc", edit_user_contact_path(current_user.id), class: "btn btn-primary"%>
                      </div>
                    </div>

                  </div>

                </div>

              </div>

              <div class="tab-pane" id="timeline">

                <div class="row">
                  <% @student_classess.each do |student_class| %>
                    <div class="col-sm-12 text-center">
                      <div class="form-group">
                        <label for="full_name">Năm: <%= student_class.year %></label>
                        <div><%= student_class.class_name %> - <%= student_class.student_class_code %></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="tab-pane" id="settings">
                <% unless @relationship.nil? %>
                  <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                      <% unless @relationship.father_name == '' %>
                        <div class="post">
                          <div><a href="#" class="text-bold">Thông tin Bố/Cha</a></div>
                          <div class="row">
                            <div class="col-3">
                              <label for="father_name">Họ và tên: </label>
                              <p><%= @relationship.father_name %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="year">Năm sinh: </label>
                              <p><%= @relationship.father_year %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="career">Nghề nghiệp: </label>
                              <p><%= @relationship.father_career %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="phone">Số điện thoại: </label>
                              <p><%= @relationship.father_phone %></p>
                            </div>
                            <div class="col-sm-12">
                              <label for="address">Địa chỉ: </label>
                              <p><%= @relationship.father_address %></p>
                            </div>
                          </div>
                        </div>
                        <hr />
                      <% end %>

                      <% unless @relationship.mother_name == '' %>
                        <div class="post">
                          <div><a href="#" class="text-bold">Thông tin Mẹ</a></div>
                          <div class="row">
                            <div class="col-3">
                              <label for="mother_name">Họ và tên: </label>
                              <p><%= @relationship.mother_name %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="year">Năm sinh: </label>
                              <p><%= @relationship.mother_year %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="career">Nghề nghiệp: </label>
                              <p><%= @relationship.mother_career %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="phone">Số điện thoại: </label>
                              <p><%= @relationship.mother_phone %></p>
                            </div>
                            <div class="col-sm-12">
                              <label for="address">Địa chỉ: </label>
                              <p><%= @relationship.mother_address %></p>
                            </div>
                          </div>
                        </div>
                        <hr />
                      <% end %>
                      <% unless @relationship.guardian_name == '' %>
                        <div class="post">
                          <div><a href="#" class="text-bold">Thông tin người giám hộ</a></div>
                          <div class="row">
                            <div class="col-3">
                              <label for="guardian_name">Họ và tên: </label>
                              <p><%= @relationship.guardian_name %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="year">Năm sinh: </label>
                              <p><%= @relationship.guardian_year %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="career">Nghề nghiệp: </label>
                              <p><%= @relationship.guardian_career %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="phone">Số điện thoại: </label>
                              <p><%= @relationship.guardian_phone %></p>
                            </div>
                            <div class="col-sm-12">
                              <label for="address">Địa chỉ: </label>
                              <p><%= @relationship.guardian_address %></p>
                            </div>
                          </div>
                        </div>
                        <hr />
                      <% end %>

                    </div>
                  </div>
                <% end %>

                <div class="row">
                  <div class="col-sm-12 text-center">
                    <%= link_to "Cập nhật thông tin gia đình", edit_relationship_path(current_user.id), class: "btn btn-primary"%>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>