<div class="card card-primary card-outline text-center">
  <h2 class="mt-2"><span>Thống kê</h2>
</div>
<div class="card card-primary card-outline card-outline-tabs">
  <div class="card-header p-0 border-bottom-0">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link <%= 'active' if @current_tab == 'elective_subjects' %>" href="<%= statistics_path(:tab => 'elective_subjects')%>">
                <%= 'Môn học tự chọn' %>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link <%= 'active' if @current_tab == 'secondary_school_user' %>" href="<%= statistics_path(:tab => 'secondary_school_user')%>">
                <%= 'Kết quả học tập lớp 9' %>
            </a>
        </li>
    </ul>
  </div>
  <div class="card-body">
        <div class="tab-content">
            <%= render :partial => 'statistics/elective_subjects' if @current_tab == 'elective_subjects' %>
            <%= render :partial => 'statistics/secondary_school_user' if @current_tab == 'secondary_school_user' %>
        </div>
  </div>
</div>