    <%= form_for(@relatioship, :url =>  update_admin_user_relationship_path(@user.id)) do |f| %>

      <div class="row">
        <div class="col-md-12">


          <div class="card card-default">
            <div class="card-header alert alert-warning">
              <h3 class="card-title">
                <%= '*Cập nhật thông tin mới' %>
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">
                  <label for="father_name">Diện khó khăn</label>
                  <%= f.select(:difficult_area, options_for_select([['Không', 0], ['Hộ cận nghèo', 1], ['Hộ nghèo', 2]], @relatioship.difficult_area),
                               {}, {:class => "form-control select2", :id => 'difficult_area'})%>
                  <% @relatioship.errors.full_messages_for(:difficult_area).each do |message| %>
                    <div class="text-danger"><%= message %></div>
                  <% end %>
                </div>
                <div class="col-sm-4 difficult-code">
                  <div class="form-group">
                    <label for="difficult_code">Số sổ hộ nghèo</label>
                    <%= f.text_field :difficult_code, class: "form-control", id: "difficult_code", placeholder: 'Số hộ nghèo'%>
                    <% @relatioship.errors.full_messages_for(:difficult_code).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="revolutionary_family">Con liệt sỹ, con thương binh, gia đình có công với cách mạng</label>
                    <%= f.select(:revolutionary_family, options_for_select([['Không', 0], ['Có', 1]], @relatioship.revolutionary_family),
                                 {}, {:class => "form-control select2", :id => 'revolutionary_family'})%>
                    <% @relatioship.errors.full_messages_for(:revolutionary_family).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!--          <div class="card-footer">-->
            <!--          </div>-->
          </div>


          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <%= 'Thông tin Cha' %>
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <label for="father_name">Họ và tên</label>
                  <%= f.text_field :father_name, class: "form-control", id: "father_name", placeholder: 'Họ và tên'%>
                  <% @relatioship.errors.full_messages_for(:father_name).each do |message| %>
                    <div class="text-danger"><%= message %></div>
                  <% end %>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="father_year">Năm sinh</label>
                    <%= f.text_field :father_year, class: "form-control", id: "father_year", placeholder: 'Năm sinh'%>
                    <% @relatioship.errors.full_messages_for(:father_year).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="father_career">Nghề nghiệp</label>
                    <%= f.text_field :father_career, class: "form-control", id: "father_career", placeholder: 'Nghề nghiệp'%>
                    <% @relatioship.errors.full_messages_for(:father_career).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="father_phone">Số điện thoại</label>
                    <%= f.text_field :father_phone, class: "form-control", id: "father_phone", placeholder: 'Số điện thoại'%>
                    <% @relatioship.errors.full_messages_for(:father_phone).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="father_address">Địa chỉ liên hệ</label>
                    <%= f.text_field :father_address, class: "form-control", id: "father_address", placeholder: 'Địa chỉ liên hệ'%>
                    <% @relatioship.errors.full_messages_for(:father_address).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!--          <div class="card-footer">-->
            <!--          </div>-->
          </div>

          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <%= 'Thông tin Mẹ' %>
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <label for="mother_name">Họ và tên</label>
                  <%= f.text_field :mother_name, class: "form-control", id: "mother_name", placeholder: 'Họ và tên'%>
                  <% @relatioship.errors.full_messages_for(:mother_name).each do |message| %>
                    <div class="text-danger"><%= message %></div>
                  <% end %>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="mother_year">Năm sinh</label>
                    <%= f.text_field :mother_year, class: "form-control", id: "mother_year", placeholder: 'Năm sinh'%>
                    <% @relatioship.errors.full_messages_for(:mother_year).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="mother_career">Nghề nghiệp</label>
                    <%= f.text_field :mother_career, class: "form-control", id: "mother_career", placeholder: 'Nghề nghiệp'%>
                    <% @relatioship.errors.full_messages_for(:mother_career).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="mother_phone">Số điện thoại</label>
                    <%= f.text_field :mother_phone, class: "form-control", id: "mother_phone", placeholder: 'Số điện thoại'%>
                    <% @relatioship.errors.full_messages_for(:mother_phone).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="mother_address">Địa chỉ liên hệ</label>
                    <%= f.text_field :mother_address, class: "form-control", id: "mother_address", placeholder: 'Địa chỉ liên hệ'%>
                    <% @relatioship.errors.full_messages_for(:mother_address).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!--          <div class="card-footer">-->
            <!--          </div>-->
          </div>

          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <%= 'Thông tin Người giám hộ' %>
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <label for="guardian_name">Họ và tên</label>
                  <%= f.text_field :guardian_name, class: "form-control", id: "guardian_name", placeholder: 'Họ và tên'%>
                  <% @relatioship.errors.full_messages_for(:guardian_name).each do |message| %>
                    <div class="text-danger"><%= message %></div>
                  <% end %>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="guardian_year">Năm sinh</label>
                    <%= f.text_field :guardian_year, class: "form-control", id: "guardian_year", placeholder: 'Năm sinh'%>
                    <% @relatioship.errors.full_messages_for(:guardian_year).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="guardian_career">Nghề nghiệp</label>
                    <%= f.text_field :guardian_career, class: "form-control", id: "guardian_career", placeholder: 'Nghề nghiệp'%>
                    <% @relatioship.errors.full_messages_for(:guardian_career).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <label for="guardian_phone">Số điện thoại</label>
                    <%= f.text_field :guardian_phone, class: "form-control", id: "guardian_phone", placeholder: 'Số điện thoại'%>
                    <% @relatioship.errors.full_messages_for(:guardian_phone).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
                <div class="col-sm-12">
                  <div class="form-group">
                    <label for="guardian_address">Địa chỉ liên hệ</label>
                    <%= f.text_field :guardian_address, class: "form-control", id: "guardian_address", placeholder: 'Địa chỉ liên hệ'%>
                    <% @relatioship.errors.full_messages_for(:guardian_address).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>

            <!--          <div class="card-footer">-->
            <!--          </div>-->
          </div>

          <div class="card card-default">
            <div class="card-header">
              <h3 class="card-title">
                <%= 'Số điện thoại nhận thông báo từ nhà trường (vietschool)' %>
              </h3>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <label for="guardian_name">Số điện thoại nhận thông báo từ nhà trường (vietschool)</label>
                  <select class="form-control" id="vietschool_option" name="vietschool_option">
                    <option <%= @relatioship.isAnotherVietSchoolPhoneNumber ? 'selected' : '' %> value="0">Lấy theo SĐT của Khác</option>
                    <option <%= @relatioship.vietschool_connect_phone == @relatioship.father_phone ? 'selected' : '' %> value="1">Lấy theo SĐT của Cha</option>
                    <option <%= @relatioship.vietschool_connect_phone == @relatioship.mother_phone ? 'selected' : '' %> value="2">Lấy theo SĐT của Mẹ</option>
                  </select>
                </div>
                <div class="col-sm-6">
                  <div class="form-group">
                    <label for="guardian_year">Số điện thoại</label>
                    <%= f.text_field :vietschool_connect_phone, class: "form-control", id: "vietschool_connect_phone", placeholder: 'Số điện thoại', readonly: !@relatioship.isAnotherVietSchoolPhoneNumber %>
                    <% @relatioship.errors.full_messages_for(:vietschool_connect_phone).each do |message| %>
                      <div class="text-danger"><%= message %></div>
                    <% end %>
                  </div>
                </div>
              </div>


              <div class="card-footer text-center">
                <button type="submit" class="btn btn-primary">
                  <%= 'Cập nhật' %>
                </button>
                <%= link_to 'Huỷ', basic_informations_path, class: "btn btn-danger"%>
              </div>
            </div>
          </div>


        </div>
      </div>

    <% end %>

<%#= javascript_pack_tag 'edit_user_contact' %>

<script type="text/javascript">
    $(document).ready(function() {
        $('#vietschool_option').on('change', function () {
            $('#vietschool_connect_phone').val('');
            if (this.value == 0) {
                $('#vietschool_connect_phone').attr('readonly', false);
            } else if (this.value == 1) {
                $('#vietschool_connect_phone').val($("#father_phone").val());

                $('#vietschool_connect_phone').attr('readonly', true);
            } else if (this.value == 2) {
                $('#vietschool_connect_phone').val($("#mother_phone").val());

                $('#vietschool_connect_phone').attr('readonly', true);
            }
        });
    });


    function updateDifficultArea () {

        var difficultArea = $('#difficult_area').val();

        if (difficultArea == 0){
            $('.difficult-code').addClass('d-none');
            $('#difficult_code').val('');
        } else {
            $('.difficult-code').removeClass('d-none');
        }
    }

    updateDifficultArea();

    $(document).ready(function() {
        $('#difficult_area').on('change', function () {
            updateDifficultArea();
        });
    });
</script>
