<div class="content container-fluid" ng-controller="AdminUsersCtrl">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">
              <%= 'Danh sách người dùng' %>
            </h3>
            <div class="card-tools">
              <form action="<%= delete_student_path %>" method="post" id="user_delete_form">
                <%= csrf_meta_tags %>
                <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                <div id="user_delete">
                </div>

                <button type="submit" id="delete_btn_id" class="btn btn-danger d-none" >
                  <%= 'Xoá HS đã chọn' %>
                </button>
                <%= link_to 'Nhập Lớp học Excel', import_student_class_path, class: "btn btn-info"%>
                <%= link_to 'Nhập Tài khoản Excel', import_student_path, class: "btn btn-warning"%>

              </form>
              <%#= link_to 'Tạo tài khoản', new_admin_user_path, class: "btn btn-primary"%>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                <div class="row">
                  <div class="input-group col-md-8">
                    <input class="form-control" name="search" ng-model="search" placeholder="Tìm kiếm" ng-keyup="$event.keyCode == 13 && search && getData()">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary" type="button" ng-click="getData()"><i class="fa fa-search"></i></button>
                    </div>
                  </div>
                  <div class="col-auto">
                    <form class="row" action="<%= download_csv_admin_users_path %>" method="get">
                      <input value={{search}} name="search" class="d-none">
                      <input value={{user_ids}} name="user_ids" class="d-none">
                      <button class="btn btn btn-success" type="submit">
                        <i class="fas fa-external-link-alt mr-1"></i>
                        CSV
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <h5 class="col-md-4 text-right">
                <span> Kích thước: 
                  <select class="form-control w-auto d-inline" ng-model="page_size" ng-change="getData()">
                    <option value="10">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </span>
              </h5>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th style="width: 50px" class="text-center">
                      <div class="icheck-success d-inline">
                        <input type="checkbox" name="check_all" id="check_all" ng-model="is_check_all" ng-change="check_all()">
                        <label for="check_all"></label>
                      </div>
                    </th>
                    <th style="width: 10px">#</th>
                    <th> Mã học sinh</th>
                    <th>Lớp</th>
                    <th>Họ và tên</th>
                    <th>Tên</th>
                    <th>Email</th>
                    <th>Thao tác</th>
                  </tr>
                </thead>
                <tbody ng-if="data.length > 0">
                  <tr ng-repeat="user in data track by $index">
                    <td class="text-center">
                      <div class="form-group clearfix" ng-if="user.student_code">
                        <div class="icheck-success d-inline">
                          <input type="checkbox" name="check_box_{{$index}}" id="checkboxUser_{{user.id}}" value="{{user.id}}" ng-model="user.check" ng-change="check_user()">
                          <label for="checkboxUser_{{user.student_code}}"></label>
                        </div>
                      </div>
                    </td>
                    <td>{{$index + 1 + page*page_size - page_size}}</td>
                    <td>{{user.student_code}}</td>
                    <td>{{user.last_class_name}}</td>
                    <td>{{user.full_name}}</td>
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td class="text-left" width="132px">
                      <a href="/admin_users/{{user.id}}" class="btn btn-info btn-sm"><i class="fas fa-eye"></i></a>
                      <a href="/admin_users/{{user.id}}/edit" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
                      <a ng-if="user.role != 4" 
                        data-confirm="Are you sure?" 
                        href="/admin_users/{{user.id}}" 
                        class="btn btn-danger btn-sm"
                        rel="nofollow"
                        data-method="delete"
                      >
                        <i class="fas fa-trash"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item" ng-click="previous()" ng-class="{'disabled': page == 1}">
                  <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item" ng-repeat="p in [].constructor(total_pages) track by $index" ng-class="{'active': $index + 1 == page}" ng-click="change_page($index + 1)"><a class="page-link">{{$index + 1}}</a></li>
                <li class="page-item" ng-click="next()" ng-class="{'disabled': page == total_pages}">
                  <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /.card -->

      </div>
    </div>

  </div>
</div>
<script>
    $(function () {
        var globalScope = angular.element($('body')).scope();
        var ctrl = '[ng-controller=AdminUsersCtrl]';
        WebApp.AngularUtils.applyData(ctrl, 'init', function (scope) {
          scope.data = [];
          scope.execute_users_admin_users_path = '<%= execute_users_admin_users_path %>'
          scope.getData();
        });
    });
</script>