
<div class="content container-fluid">
  <div class="container-fluid">

    <div class="row">
      <div class="col-md-3">

        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <!--                        <img class="profile-user-img img-fluid img-circle" src="../../dist/img/user4-128x128.jpg" alt="User profile picture">-->
            </div>
            <h3 class="profile-username text-center">
              <%= @user.full_name %>
            </h3>
            <p class="text-muted text-center">
              <%= @user.student_code %>
            </p>
            <ul class="list-group list-group-unbordered mb-3">
              <li class="list-group-item">
                <b>Ngày sinh:</b> <a class="float-right">
                <%= @user.birthday %>
              </a>
              </li>
              <li class="list-group-item">
                <b>Dân tộc</b> <a class="float-right">
                <%= @user.ethnicity_name %>

              </a>
              </li>


              <li class="list-group-item">
                <b>Tôn giáo</b> <a class="float-right">
                <%= @user.religion_name %>
              </a>
              </li>
              <li class="list-group-item">
                <b>Nơi sinh</b> <a class="float-right">
                <%= @province.name if !@province.nil? %>
              </a>
              </li>
              <li class="list-group-item">
                <b>Quốc tịch</b> <a class="float-right text-uppercase">
                <%= @user.nationality %>
              </a>
              </li>

              <li class="list-group-item">
                <b>CCCD/CMND</b> <a class="float-right">
                <%= @user.identification_type_name %>
              </a>
              </li>

              <% if @user.identification? %>
                <li class="list-group-item">
                  <b>Mã CCCD/CMND</b> <a class="float-right">
                  <%= @user.identification %>
                </a>
                </li>
              <% end %>

              <% if @user.identifier_code? %>
                <li class="list-group-item">
                  <b>Mã định danh</b> <a class="float-right">
                  <%= @user.identifier_code %>
                </a>
                </li>
              <% end %>

              <% if @user.identification_type != 3 %>
                <li class="list-group-item">
                  <b>CCCD Chíp</b> <a class="float-right">
                  <%= @user.identification_chip == 1 ? "Đã đăng ký" : "Chưa đăng ký" %>
                </a>
                </li>

              <% end %>
            </ul>
            <% if current_user.role == 5 %>
              <div class="text-center">
                <%= link_to "Chỉnh sửa", edit_admin_user_path(@user.id), class: "btn btn-primary"%>
              </div>
            <% end %>
            <!--                      <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>-->
          </div>

        </div>

      </div>

      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#activity" data-toggle="tab">Thông tin liên lạc</a></li>
              <li class="nav-item"><a class="nav-link" href="#timeline" data-toggle="tab">Thông tin học tập</a></li>
              <li class="nav-item"><a class="nav-link" href="#settings" data-toggle="tab">Thông tin gia đình</a></li>
              <li class="nav-item"><a class="nav-link" href="#secondary_school" data-toggle="tab">Kết quả học tập lớp 9</a></li>
              <li class="nav-item"><a class="nav-link" href="#elective_subject" data-toggle="tab">ĐK môn tự chọn</a></li>

            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="activity">

                <div class="post">
                  <div class="user-block">

                    <div class="row">
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="contact_province">Hộ khẩu thường trú</label>
                          <div>
                            <%= @user_contact.household_full_address %>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="contact_province">Địa chỉ liên hệ</label>
                          <div>
                            <%= @user_contact.contact_full_address %>
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-12">
                        <div class="form-group">
                          <label for="contact_province">Số điện thoại liên lạc</label>
                          <div>
                            <%= @user_contact.show_phone_number %>
                          </div>
                        </div>
                      </div>
<!--                      <div class="col-sm-12 text-center">-->
                        <%#= link_to "Chỉnh sửa thông tin liên lạc", edit_admin_user_path(current_user.id), class: "btn btn-primary"%>
<!--                      </div>-->
                    </div>

                  </div>




                </div>

              </div>

              <div class="tab-pane" id="timeline">

                <div class="row">
                  <% @student_classess.each do |student_class| %>
                    <div class="col-sm-12 text-center">
                      <div class="form-group">
                        <label for="full_name">Năm: <%= student_class.year %></label>
                        <div><%= student_class.class_name %> - <%= student_class.student_class_code %></div>
                      </div>
                    </div>
                  <% end %>
                </div>
              </div>

              <div class="tab-pane" id="settings">
                <% unless @relationship.nil? %>
                  <div class="tab-content">
                    <div class="active tab-pane" id="activity">
                      <% unless @relationship.father_name == '' %>
                        <div class="post">
                          <div><a href="#" class="text-bold">Thông tin Cha</a></div>
                          <div class="row">
                            <div class="col-3">
                              <label for="father_name">Họ và tên: </label>
                              <p><%= @relationship.father_name %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="year">Năm sinh: </label>
                              <p><%= @relationship.father_year %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="career">Nghề nghiệp: </label>
                              <p><%= @relationship.father_career %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="phone">Số điện thoại: </label>
                              <p><%= @relationship.father_phone %></p>
                            </div>
                            <div class="col-sm-12">
                              <label for="address">Địa chỉ: </label>
                              <p><%= @relationship.father_address %></p>
                            </div>
                          </div>
                        </div>
                        <hr />
                      <% end %>

                      <% unless @relationship.mother_name == '' %>
                        <div class="post">
                          <div><a href="#" class="text-bold">Thông tin Mẹ</a></div>
                          <div class="row">
                            <div class="col-3">
                              <label for="mother_name">Họ và tên: </label>
                              <p><%= @relationship.mother_name %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="year">Năm sinh: </label>
                              <p><%= @relationship.mother_year %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="career">Nghề nghiệp: </label>
                              <p><%= @relationship.mother_career %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="phone">Số điện thoại: </label>
                              <p><%= @relationship.mother_phone %></p>
                            </div>
                            <div class="col-sm-12">
                              <label for="address">Địa chỉ: </label>
                              <p><%= @relationship.mother_address %></p>
                            </div>
                          </div>
                        </div>
                        <hr />
                      <% end %>
                      <% unless @relationship.guardian_name == '' %>
                        <div class="post">
                          <div><a href="#" class="text-bold">Thông tin người giám hộ</a></div>
                          <div class="row">
                            <div class="col-3">
                              <label for="guardian_name">Họ và tên: </label>
                              <p><%= @relationship.guardian_name %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="year">Năm sinh: </label>
                              <p><%= @relationship.guardian_year %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="career">Nghề nghiệp: </label>
                              <p><%= @relationship.guardian_career %></p>
                            </div>
                            <div class="col-sm-3">
                              <label for="phone">Số điện thoại: </label>
                              <p><%= @relationship.guardian_phone %></p>
                            </div>
                            <div class="col-sm-12">
                              <label for="address">Địa chỉ: </label>
                              <p><%= @relationship.guardian_address %></p>
                            </div>
                          </div>
                        </div>
                        <hr />
                      <% end %>

                      <div class="post">
                        <div><a href="#" class="text-bold">Số điện thoại nhận thông báo từ nhà trường (vietschool)</a></div>
                        <div class="row">
                          <div class="col-sm-12">
                            <!--                            <label for="guardian_name">Số điện thoại nhận thông báo từ nhà trường (vietschool)</label>-->
                            <p><%= @relationship.vietschool_connect_phone %></p>
                          </div>
                        </div>
                      </div>
                      <hr />

                      <div class="post">
                        <div><a href="#" class="text-bold text-warning">*Thông tin mới cập nhật</a></div>
                        <div class="row">
                          <div class="col-sm-6">

                            <label for="difficult_area_name">Diện hộ nghèo:</label>
                            <p><%= @relationship.difficult_area_name %></p>
                          </div>
                          <div class="col-sm-6">
                            <label for="revolutionary_family">Số sổ bảo hiểm y tế:</label>
                            <p><%= @relationship.revolutionary_family? ? @relationship.revolutionary_family : "Chưa nhập" %></p>
                          </div>
                        </div>
                      </div>
                      <hr />

                    </div>
                  </div>
                <% end %>


<!--                <div class="row">-->
<!--                  <div class="col-sm-12 text-center">-->
                    <%#= link_to "Chỉnh sửa thông tin gia đình", edit_admin_user_path(current_user.id), class: "btn btn-primary"%>
<!--                  </div>-->
<!--                </div>-->
              </div>

              <div class="tab-pane" id="secondary_school">
                <% if @secondary_school_user.present? %>
                  <div class="post">
                    <div><a class="text-bold">Thông tin trường học</a></div>
                    <div class="row">
                      <div class="col-4">
                        <label for="school_name">Tên trường học: </label>
                        <p><%= @secondary_school_user.school_name %></p>
                      </div>
                      <div class="col-sm-4">
                        <label for="school_type">Kiểu trường học: </label>
                        <p><%= @secondary_school_user.school_type %></p>
                      </div>
                    </div>
                  </div>
                  <hr>
                  <div class="post">
                    <div><a class="text-bold">Thông tin điểm các môn</a></div>
                    <div class="table-responsive">
                      <table class="table table-hover">
                        <thead>
                        <th></th>
                        <th>HK1</th>
                        <th>HK2</th>
                        <th>CN</th>
                        </thead>
                        <tbody>
                        <tr>
                          <td>Toán</td>
                          <td>
                            <%= @secondary_school_user.math_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.math_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.math %>
                          </td>
                        </tr>
                        <tr>
                          <td>Vật Lý</td>
                          <td>
                            <%= @secondary_school_user.physics_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.physics_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.physics %>
                          </td>
                        </tr>
                        <tr>
                          <td>Hóa Học</td>
                          <td>
                            <%= @secondary_school_user.chemistry_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.chemistry_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.chemistry %>
                          </td>
                        </tr>
                        <tr>
                          <td>Sinh Học</td>
                          <td>
                            <%= @secondary_school_user.biological_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.biological_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.biological %>
                          </td>
                        </tr>
                        <tr>
                          <td>Ngữ Văn</td>
                          <td>
                            <%= @secondary_school_user.literature_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.literature_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.literature %>
                          </td>
                        </tr>
                        <tr>
                          <td>Lịch Sử</td>
                          <td>
                            <%= @secondary_school_user.history_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.history_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.history %>
                          </td>
                        </tr>
                        <tr>
                          <td>Địa Lý</td>
                          <td>
                            <%= @secondary_school_user.geography_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.geography_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.geography %>
                          </td>
                        </tr>
                        <tr>
                          <td>Anh Văn</td>
                          <td>
                            <%= @secondary_school_user.english_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.english_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.english %>
                          </td>
                        </tr>
                        <tr>
                          <td>GDCD</td>
                          <td>
                            <%= @secondary_school_user.civic_education_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.civic_education_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.civic_education %>
                          </td>
                        </tr>
                        <tr>
                          <td>Công Nghệ</td>
                          <td>
                            <%= @secondary_school_user.technology_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.technology_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.technology %>
                          </td>
                        </tr>
                        <tr>
                          <td>DTB các môn học</td>
                          <td>
                            <%= @secondary_school_user.subject_average_semester_one %>
                          </td>
                          <td>
                            <%= @secondary_school_user.subject_average_semester_two %>
                          </td>
                          <td>
                            <%= @secondary_school_user.subject_average %>
                          </td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div class="post">
                    <div><a class="text-bold">Thông tin khác</a></div>
                    <div class="row">
                      <div class="col-sm-6">
                        <label>Ngoại ngữ: </label>
                        <%= @secondary_school_user.other_language %>
                      </div>
                      <div class="col-sm-6">
                        <label for="">Kết quả môn thể dục: </label>
                        <%= @secondary_school_user.exercise_result %>
                      </div>
                      <div class="col-sm-6">
                        <label for="">Xếp hạng học lực: </label>
                        <%= @secondary_school_user.ranked_academic %>
                      </div>
                      <div class="col-sm-6">
                        <label for="">Hạnh kiểm: </label>
                        <%= @secondary_school_user.conduct %>
                      </div>
                      <div class="col-sm-6">
                        <label for="">Điểm tuyển sinh: </label>
                        <%= @secondary_school_user.admission_test_score %>
                      </div>
                    </div>
                  </div>
                <% else %>
                  <label>Chưa cập nhập thông tin</label>
                <% end %>
                <div class="row">
                  <div class="col-sm-12 text-center">
                    <%= link_to "Cập nhật kết quả học tập lớp 9", edit_admin_user_secondary_school_user_path(@user.id), class: "btn btn-primary"%>
                  </div>
                </div>
              </div>

              <div class="tab-pane" id="elective_subject">
                <div class="tab-content">
                  <div class="active tab-pane" id="activity">
                      <div class="post">
<!--                        <div><a href="#" class="text-bold">Thông tin Cha</a></div>-->
                        <% if !@elective_subject.nil?%>
                          <div>
                            <p>
                              <strong><%= current_user.full_name %></strong> đã đăng ký thành công môn học tự chọn như sau:
                            <p>
                            <table>
                              <tr>
                                <th style="text-align:left">Tổ hợp môn học:</th>
                                <td><%= @elective_subject[:group_subject] %></td>
                              </tr>
                              <tr>
                                <th style="text-align:left">Nhóm chuyên đề:</th>
                                <td><%= @elective_subject[:thematic_group] %></td>
                              </tr>
                              <tr>
                                <th style="text-align:left">Môn tự chọn 1:</th>
                                <td><%= @elective_subject[:elective_subject_one] %></td>
                              </tr>
                              <tr>
                                <th style="text-align:left">Môn tự chọn 2:</th>
                                <td><%= @elective_subject[:elective_subject_two] %></td>
                              </tr>
                              <% if @elective_subject[:alternative_subject].present? %>
                                <tr>
                                  <th style="text-align:left">Môn thay thế:</th>
                                  <td><%= @elective_subject[:alternative_subject] %></td>
                                </tr>
                              <% end %>
                            </table>
                        </div>
                        <% else %>
                         <div><a class="text-bold">Chưa đăng ký môn tự chọn</a></div>

                      <% end %>
                      </div>
                      <hr />
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

    </div>

  </div>
</div>