<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->

    <div class="row">
      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Sơ yếu lý lịch</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Download Mẫu sơ yếu lý lịch học sinh... </strong>
            <p class="text-danger">
              *Hãy nhập đủ thông tin gia đình, thông tin cá nhân để tự động điền vào Sơ yếu lý lịch
            </p>
            <%= link_to edit_relationship_path(current_user.id), class: "nav-link" do %>
                <i class="fas fa-hand-point-right" aria-hidden="true"></i> Cập nhật thông tin gia đình!
            <% end %>

            <%= link_to edit_basic_information_path(current_user.id), class: "nav-link" do %>
              <i class="fas fa-hand-point-right" aria-hidden="true"></i> Cập nhật thông tin cá nhân!
            <% end %>

            <hr>
            <%= link_to profile_file_forms_url(current_user.id), :class => "nav-link ", target: :_blank  do %>
              <i class="fa fa-download nav-icon"></i>
              <%= 'Tải xuống' %>
            <% end %>
            <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Đơn xin nhập học</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Download Mẫu đơn xin nhập học </strong>
            <p class="text-danger">
              *Hãy nhập đủ thông tin cá nhân, kết quả học tập lớp 9(bảng điểm), ĐK môn tự chọn để tự động điền vào Đơn xin nhập học
            </p>

            <%= link_to edit_secondary_school_user_path(current_user.id), class: "nav-link" do %>
              <i class="fas fa-hand-point-right" aria-hidden="true"></i> Cập nhật kết quả học tập lớp 9!
            <% end %>
            <%= link_to edit_basic_information_path(current_user.id), class: "nav-link" do %>
              <i class="fas fa-hand-point-right" aria-hidden="true"></i> Cập nhật thông tin cá nhân!
            <% end %>

            <hr>
            <%= link_to score_board_file_forms_url(current_user.id), :class => "nav-link ", target: :_blank  do %>
              <i class="fa fa-download nav-icon"></i>
              <%= 'Tải xuống' %>
            <% end %>
            <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cam kết</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Download Mẫu Cam kết </strong>
              <p class="text-danger">
                *Hãy nhập đủ thông tin gia đình để tự động điền vào Bảng cam kết
              </p>

            <%= link_to edit_relationship_path(current_user.id), class: "nav-link" do %>
              <i class="fas fa-hand-point-right" aria-hidden="true"></i> Cập nhật thông tin gia đình!
            <% end %>
            <hr>
            <%= link_to commitment_file_forms_url(current_user.id), :class => "nav-link ", target: :_blank  do %>
              <i class="fa fa-download nav-icon"></i>
              <%= 'Tải xuống' %>
            <% end %>
            <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
          </div>

        </div>

      </div>
    </div>

    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>