<section class="content">
  <div class="container-fluid">
    <!-- Small boxes (Stat box) -->

    <div class="row">
      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Sơ yếu lý lịch</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Download Mẫu sơ yếu lý lịch học sinh... </strong>
            <p class="text-muted">
              Hãy nhập đủ thông tin gia đình, thông tin cá nhân để tự động điền vào Sơ yếu lý lịch
            </p>
            <hr>
            <%= link_to profile_file_forms_url, :class => "nav-link " do %>
              <i class="fa fa-download nav-icon"></i>
              <%= 'Tải xuống' %>
            <% end %>
            <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Bảng điểm</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Download Mẫu đơn xin nhập học </strong>
            <p class="text-muted">
              Hãy nhập đủ thông tin cá nhân, kết quả học tập lớp 9(bảng điểm), ĐK môn tự chọn để tự động điền vào Đơn xin nhập học
            </p>
            <hr>
            <%= link_to score_board_file_forms_url, :class => "nav-link " do %>
              <i class="fa fa-download nav-icon"></i>
              <%= 'Tải xuống' %>
            <% end %>
            <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
          </div>

        </div>

      </div>

      <div class="col-md-4">
        <div class="card card-primary">
          <div class="card-header">
            <h3 class="card-title">Cam kết</h3>
          </div>

          <div class="card-body">
            <strong><i class="fas fa-book mr-1"></i> Download Mẫu Cam kết </strong>
                        <p class="text-muted">
                          Hãy nhập đủ thông tin gia đình để tự động điền vào Bảng cam kết
                        </p>
            <hr>
            <%= link_to commitment_file_forms_url, :class => "nav-link " do %>
              <i class="fa fa-download nav-icon"></i>
              <%= 'Tải xuống' %>
            <% end %>
            <!--            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam fermentum enim neque.</p>-->
          </div>

        </div>

      </div>
    </div>

    <!-- /.row -->
    <!-- Main row -->
    <!-- /.row (main row) -->
  </div><!-- /.container-fluid -->
</section>